*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.main-background{
  /* background: #ff0084;
 
  background: -webkit-linear-gradient(to right, #33001b, #ff0084, #33001b);
 
  background: linear-gradient(to right, #33001b, #ff0084, #33001b);
   */
  height: 100vh;
}