#window{
    width: 85%;
    height: 15%;
    border-radius: 25px;
    background-image: linear-gradient(whitesmoke, 5%, white, whitesmoke);
    box-shadow: inset 3px 3px 3px 0px gray;
    color: black;
    font-size: 50px;
    direction: rtl;
    padding-right: 10px;
}